<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDACKMr7qwYFkIzDSJr195PVMaaUMd8BsY</string>
	<key>GCM_SENDER_ID</key>
	<string>967586967731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.referralFreindsapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>referralfreindapp</string>
	<key>STORAGE_BUCKET</key>
	<string>referralfreindapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967586967731:ios:9eecdbac017b3d984700c6</string>
</dict>
</plist>